.formWrapper {
  border-radius: 8px;
  border: 2px solid #5c5c5c;
  margin-bottom: 24px;
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  height: 36px;
  border-radius: 4px;
  border: 2px solid rgba(46, 47, 66, 0.4);
  outline: none;
  font-family: Inter, sans-serif;
  padding: 8px 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover,
.input:focus {
  border-color: #535bf2;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #4e75ff;
  border-radius: 4px;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 16px;
  padding: 8px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  height: 36px;
}

.btn:hover,
.btn:focus {
  background-color: #6c8cff;
}

.error {
  color: #dd0404;
}
